body {
  font-family: 'Brandon Grotesque', Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

h4 {
  text-align: center;
  color: rgb(231, 87, 87);
}

label {
  text-transform: uppercase;
  font-size: 11px;
}

.input-data {
  text-align: center;
}

input {
  width: 375px;
  height: 40px;
  padding-left: 10px;
  border-radius: 5px;
  border: solid, 0.5px, rgb(155, 153, 153);
}

input::placeholder {
  text-align: left;
  color: rgb(175, 174, 174);
  font-size: 13.5px;
}

select {
  width: 375px;
  height: 40px;
  border-radius: 5px;
  border: solid, 0.5px, rgb(155, 153, 153);
  background-color: rgb(240, 239, 239);
}

#submit {
  text-align: center;
}
